# emacs
*~

# pycharm
.idea/

# Petter's file for playing around
playing_around.ipynb

.ipynb_checkpoints/
limnos.egg-info/
limnos/.ipynb_checkpoints/
limnos/Untitled.ipynb
limnos/__pycache__/
limnos/tests/__pycache__/

